<% include ../header.ejs %>
<style>
    body {
        padding-top: 100px;
    }
</style>
<div class="container" id="container">
    <form method="post" action="/post/add">
        标题：<br />
        <input type="text" name="title" /><br />
        标签：<br />
        <input type="text" name="tags" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />
        正文：<br />
        <textarea name="post" rows="20" cols="100"></textarea><br />
        <input type="submit" value="发表" />
    </form>
</div>
<% include ../footer.ejs %>