<div id="footer">
    <div class="container">
        <hr>
        <p class="text-muted">&copy; Snipe 2014</p>
    </div>
</div>
<!-- Bootstrap core JavaScript
==================================================
<script src="/javascripts/jquery-2.0.3.js"></script>-->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap-datepicker.js"></script>
<script src="/javascripts/bootstrap-datepicker.zh-CN.js"></script>
<script src="/javascripts/bootstrap-paginator.min.js"></script>
<script src="/javascripts/moment.min.js"></script>
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>

