<% include header.ejs %>


    <div class="jumbotron">
        <div class="container">
            <h1> 欢迎进入Majordomo!</h1>
            <p>这是一个小管家网站，自己学习node时做的小项目，目标是完成家庭成员信息管理、账本、博客等常用功能。</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
    <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>成员</h2>
                <p>记录家庭成员信息，防止给家里人买衣服鞋子啥的不知道尺寸。</p>
                <p><a class="btn btn-default" href="/member/index" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>账本</h2>
                <p>记录每天消费开支，提供月度统计，支出种类统计，清楚比较各月花费。</p>
                <p><a class="btn btn-default" href="/accounts/index" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>博客</h2>
                <p>支持markdown语法，简易迅速便捷地发布自己的心得，及时有效轻松地与他人进行交流。</p>
                <p><a class="btn btn-default" href="/post/index" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div> <!-- /container -->

</div>
<% include footer.ejs %>