<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">记账修改</h4>
        </div>
        <form class="form-horizontal" role="form" id="form" method="post" action="/accounts/modify">
            <input type="hidden" id="_id" name="_id">
            <div class="modal-body">
                <div class="form-group">
                    <label for="date" class="col-sm-2 control-label help-block">消费日期</label>
                    <div class="col-sm-10">
                        <input type="text" id="date" name="date" class="form-control" placeholder="选择日期">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="kind" class="col-sm-2 control-label help-block">收支类型</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="kind" name="kind" onchange="selected();"></select>
                        <input type="hidden" id="kind_value" name="kind_value">
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label help-block">账目分类</label>
                    <div class="input-append date col-sm-10">
                        <select class="form-control" id="type" name="type"></select>
                        <input type="hidden" id="type_value" name="type_value">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cash" class="col-sm-2 control-label help-block">金额</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cash" name="cash" placeholder="单位：元 （请输入数字，输错很2）">
                    </div>
                </div>
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label help-block">资金账户</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="account" name="account"></select>
                        <input type="hidden" id="account_value" name="account_value">
                    </div>
                </div>

                <div class="form-group">
                    <label for="remark" class="col-sm-2 control-label help-block">备注</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="remark" name="remark" placeholder=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="modify();" class="btn btn-primary">确认并保存</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    function modify(){
        var kind_value=$("#kind").find("option:selected").text();
        var type_value=$("#type").find("option:selected").text();
        var account_value=$("#account").find("option:selected").text();
        $("#kind_value").val(kind_value);
        $("#type_value").val(type_value);
        $("#account_value").val(account_value);
        window.form.submit();
    }

    function modifyInfo(id){
        var url='/accounts/getAccountById?_id='+id;
        $.get(url,function(data){
            var account = data.account;
            $("#_id").val(account._id);
            $("#date").val(account.date);
            loadKind(account.kind.code_no);
            loadType(account.kind.code_no,account.type.code_no);
            $("#cash").val(account.cash);
            loadAccount(account.account.code_no);
            $("#remark").val(account.remark);
        });

    }

    function loadKind(no){
        var url='/accounts/getSysCode?codeTypeNo=kind';
        var select = document.getElementById("kind");
        select.options.length = 0;
        $.get(url,function(data){
           for(var i = 0; i < data.codes.length; i++){
               var option = document.createElement('option');
               option.value = data.codes[i].code_no;
               option.innerHTML= data.codes[i].code_value;
               if(no === option.value){
                   option.selected = true;
               }
               select.appendChild(option);

           }
        });
    }

    function loadType(kind,no){
        var url='/accounts/getSysCode?codeTypeNo=' + kind;
        var select = document.getElementById("type");
        select.options.length = 0;
        $.get(url,function(data){
            for(var i = 0; i < data.codes.length; i++){
                var option = document.createElement('option');
                option.value = data.codes[i].code_no;
                option.innerHTML= data.codes[i].code_value;
                if(no === data.codes[i].code_no){
                    option.selected = true;
                }
                select.appendChild(option);
            }
        });
    }

    function selected(){
        var url='/accounts/getSysCode?codeTypeNo=' + $("#kind").val();
        var select = document.getElementById("type");
        select.options.length = 0;
        $.get(url,function(data){
            for(var i = 0; i < data.codes.length; i++){
                var option = document.createElement('option');
                option.value = data.codes[i].code_no;
                option.innerHTML= data.codes[i].code_value;
                select.appendChild(option);
            }
        });
    }

    function loadAccount(no){
        var url='/accounts/getSysCode?codeTypeNo=account';
        $.get(url,function(data){
            for(var i = 0; i < data.codes.length; i++){
                var option = document.createElement('option');
                option.value = data.codes[i].code_no;
                option.innerHTML= data.codes[i].code_value;
                if(no === data.codes[i].code_no){
                    option.selected = true;
                }
                document.getElementById("account").appendChild(option);
            }
        });
    }

</script>
