<% include ../header.ejs %>
<style>
    body {
        padding-top: 100px;
    }
</style>

<div class="container container-fluid" id="container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li><a href="/accounts/index">记账首页</a></li>
                <li><a href="/accounts/keep">手工记账</a></li>
                <li><a href="/accounts/detail">明细查询</a></li>
                <li class="active"><a href="/accounts/monthly">月度统计</a></li>
            </ul>
        </div>
        <div class="span12">



        </div>
        <div class="span12">
            <div class="page-header">
                使用遇到问题？
            </div>
            <dl>
                <dt>
                    <span class="badge">1</span>
                    <small>我的记账数据安全么？</small>
                </dt>
                <dd>
                    答：记账产品是安全的，您可以放心使用。
                </dd>
            </dl>
        </div>
    </div>
</div>

<script>
    $(function(){

    });
</script>

<% include ../footer.ejs %>