<% include ../header.ejs %>
<style>
    body {
        padding-top: 100px;
    }
</style>

<div class="container container-fluid" id="container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li><a href="/accounts/index">记账首页</a></li>
                <li ><a href="/accounts/add">记账</a></li>
                <li><a href="/accounts/detail">明细查询</a></li>
                <li class="active"><a href="/accounts/monthly">月度统计</a></li>
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <input type="text" type="text" class="form-control" id="datepicker" placeholder="请选择月份" />
            </div>

            <div class="col-md-12">
                <div id="chart_container" data = <%=data_pie%> style="min-width:700px;height:400px"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chart_column_container" column= <%=data_column%> xAxis= <%=data_xAxis%>
                style="min-width:700px;height:400px"></div>
            </div>
        </div>
        <div class="span12">
            <div class="page-header">
                使用遇到问题？
            </div>
            <dl>
                <dt>
                    <span class="badge">1</span>
                    <small>我的记账数据安全么？</small>
                </dt>
                <dd>
                    答：记账产品是安全的，您可以放心使用。
                </dd>
            </dl>
        </div>
    </div>
</div>

<script>
    function createChart(){
        var $nav = $('#chart_container');
        var data = $nav.attr('data');
        var arr = data.split(',|,');
        var dataArray = [];
        for(var i = 0; i < arr.length; i++){
            var d = arr[i].split(',');
            d[1] = Number(d[1]);
            dataArray.push(d);
        }

        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart_container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '月度支出汇总'
            },
            subtitle: {
                text: '根据支出类型的账目分类进行统计'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'share',
                data:  dataArray
            }]
        });
    }

    function createColumnChart(){
        var $nav = $('#chart_column_container');
        var column = $nav.attr('column');
        var xAxis = $nav.attr('xAxis');
        /*组装柱状图series数据*/
        var columnArray = [];
        var arr_column = column.split(',');
        for(var i = 0; i < arr_column.length; i++){
            columnArray.push(Number(arr_column[i]));
        }
        /*组装x轴数据*/
        var xAxisArray = [];
        var arr_xAxis = xAxis.split(',');
        for(var i = 0; i < arr_xAxis.length; i++){
            xAxisArray.push(arr_xAxis[i]);
        }

        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart_column_container',
                type: 'column',
                margin: 75,
                options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15,
                    depth: 50,
                    viewDistance: 25
                }
            },
            title: {
                text: '支出明细汇总'
            },
            subtitle: {
                text: '根据支出类型的账目分类进行统计'
            },
            plotOptions: {
                column: {
                    depth: 25
                }
            },
            xAxis: {
                categories: xAxisArray
            },
            yAxis: {
                opposite: false
            },
            series: [{
                name: '支出',
                data: columnArray
            }]
        });

    }

    function showValues() {
        $('#R0-value').html(chart.options.chart.options3d.alpha);
        $('#R1-value').html(chart.options.chart.options3d.beta);
    }

    $(function () {
        /*饼图*/
        createChart();
        /*时间格式化*/
        $('#datepicker').datepicker({
            format: "yyyy年mm月",
            startView: 1,
            minViewMode: 1,
            language: "zh-CN"
        });
        /*柱状图*/
        // Set up the chart
        createColumnChart();
        // Activate the sliders
        $('#R0').on('change', function(){
            chart.options.chart.options3d.alpha = this.value;
            showValues();
            chart.redraw(false);
        });
        $('#R1').on('change', function(){
            chart.options.chart.options3d.beta = this.value;
            showValues();
            chart.redraw(false);
        });
        showValues();
    });
</script>
<script type="text/javascript" src="/javascripts/highcharts_4.0.1/highcharts.js"></script>
<script type="text/javascript" src="/javascripts/highcharts_4.0.1/modules/exporting.js"></script>
<script type="text/javascript" src="/javascripts/highcharts_4.0.1/highcharts-3d.js"></script>

<% include ../footer.ejs %>