<% include ../header.ejs %>
<style>
    body {
        padding-top: 100px;
    }
</style>

<div class="container container-fluid" id="container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li><a href="/accounts/index">记账首页</a></li>
                <li ><a href="/accounts/add">记账</a></li>
                <li><a href="/accounts/detail">明细查询</a></li>
                <li class="active"><a href="/accounts/monthly">月度统计</a></li>
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <input type="text" type="text" class="form-control" id="datepicker" placeholder="请选择月份" />
            </div>

            <div class="col-md-12">
                <div id="chart_container" data = <%=data%> style="min-width:700px;height:400px"></div>
            </div>

        </div>
        <div class="span12">
            <div class="page-header">
                使用遇到问题？
            </div>
            <dl>
                <dt>
                    <span class="badge">1</span>
                    <small>我的记账数据安全么？</small>
                </dt>
                <dd>
                    答：记账产品是安全的，您可以放心使用。
                </dd>
            </dl>
        </div>
    </div>
</div>

<script>
    $(function () {
        var $nav = $('#chart_container');
        var data = $nav.attr('data');
        var arr = data.split(',|,');
        var dataFormat = '[';
        for(var i = 0; i < arr.length; i++){
            var d = arr[i].split(',');
            var str = "['" + d[0] + "'," + d[1] + "],";
            dataFormat += str;
        }
        dataFormat = dataFormat.substring(0,dataFormat.length-1);
        dataFormat += ']';

        $('#chart_container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '月度支出统计'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'payout',
                data:  dataFormat
            }]
        });


        $('#datepicker').datepicker({
            format: "yyyy年mm月",
            startView: 1,
            minViewMode: 1,
            language: "zh-CN"
        });
    });
</script>
<script type="text/javascript" src="/javascripts/highcharts_4.0.1/highcharts.js"></script>
<script type="text/javascript" src="/javascripts/highcharts_4.0.1/modules/exporting.js"></script>
<script type="text/javascript" src="/javascripts/highcharts_4.0.1/highcharts-3d.js"></script>

<% include ../footer.ejs %>